blockquote p {font-size:12px !important}
h1 {font-size: 24px}
h2 {font-size: 20px}
h4 {font-size: 15px}
img {margin:auto;display:block}
.quote {margin-left:3em; margin-bottom:1em; font-size:90%;}
th {background-color: antiquewhite}

